/* daytripper
NOTE: For the drag-n-drop to work ther can only be on position:relative in the parent of the draggable. If you use a theme that has a position relative in the ancestory of the draggable then you will need to adjust in one of two ways:
A) Add the appropriate number of pixels to the $base_adjust variable (iether in the views template or the admin).
B) Override the position relative in the ancestory of the theme with a theme override function.
*/

/*  //////////////////////////////////////////
             Page Set Up
    //////////////////////////////////////////   */
/* widen the content area 
(the sidebar-first & sidebar-seconf have been turned off)*/
.page-daytripper #page #content {
    width: 980px;
    color: #777;
}
.page-daytripper .view-id-day_tripper_events ul {
list-style-image: none;
list-style-type: none;
margin:0;
padding:0;
}		
		#daytripper_day .view-id-day_tripper_events li {
		margin:0;
		padding:0;
		}
/* attempt to override theme's position:relative  */
.page-daytripper #main-wrapper, 
#wrapper #container #center .right-corner, 
#wrapper #container #center .right-corner .left-corner {
	position: static;
}
/* attempt to override theme's position:relative  */
.page-daytripper #main #content, 
.page-daytripper #main-wrapper { 
  /* width: 400px;*/
  position:static;
}

.page-daytripper #page-title { 
color: #2C8AD0;
}

#daytripper-wrap .daytripper-instructions { color: #2C8AD0;   }

#daytripper-wrap { 
padding:0;
margin:0;
height: 800px;
/* border:3px dashed green; */
}

#daytripper_day,
#daytripper-map-console {
float:left;
width:250px;
height: 800px;
overflow:auto;
margin:0;
padding:0;
}

#daytripper-center-console {
float:left;
width:200px;
height: 800px;
overflow:auto;
margin:0;
padding:0;
}

/*  //////////////////////////////////////////
        VIEWS VIEW EVENTS
    //////////////////////////////////////////   */
/*.event-envelope {
width: 200px; 
background-color: orange;
}*/
.page-daytripper .view-id-day_tripper_events { 
width: 200px; 
}
		#daytripper_day .item-list {
			position: relative;
		}
				#daytripper_day .item-list ul {
				/* position: NOT->relative; for re-dragging to work */
				float:right;
				width:200px;
				padding: 0;
				}
						#daytripperDragHelper {
						overflow: hidden;
						width:50px;
						border: 1px dashed red;
						}
						
						.ui-draggable-dragging {
						-moz-box-shadow: 0 0 5px 5px #888;
						-webkit-box-shadow: 0 0 5px 5px#888;
						box-shadow: 0 0 5px 5px #888;
						}
						
					.daytripper-event { /* try to mimick the look of a real event */
							width: 200px;
							font-size:8px;
							text-decoration:none;
							overflow: auto;
							margin: 0;
							padding: 0 2px 0 4px;
							background: #2C8AD0;
							color: #fff;
							font-size: .85em;
							cursor: pointer;
							-moz-border-radius: 10px;
              border-radius: 10px;
					}    
							.daytripper-event a {
							font-size:8px;
							text-decoration:none;
							color: #3B3B4A;
							}
							.daytripper-event .date { 
							 display:block;
							 clear:both;
							 }
									.daytripper-event .time { 
							    padding:0;
							    margin:0 0 0 20px;
									}
							 .daytripper-event .daytripper-checkbox { 
							 float:right;
							 padding:0;
							 margin:0;
							 }
						 .daytripper-hover-info { 
							 clear:both;
							 color: #3B3B4A;
							 border:1px solid #C7E4F6;
							 }

/*  //////////////////////////////////////////
               AGENDA  
    //////////////////////////////////////////   */     
#daytripper_day {
position:static;
border:4px solid #C7E4F4;
overflow:hidden;
}

#daytripper-agenda {
float:right;
clear:right;
height: 900px;/* needed for dragables to work */
width:82%;
}
		#daytripper_day .hour {
		/* position: NOT->relative; for re-dragging to work */
		height: 29px; /*currently 30px = 60 mins */
		width:100%;
		border-bottom: 1px solid #C7E4F4;
		}
			#daytripper_day #daytripper-hr-labels {
			float:left;
			clear:left;
			width: 18%;
			}
			#daytripper_day #daytripper-hr-labels .time-label {
			/* position: NOT->relative; for re-dragging to work */
			text-align:center;
			height: 29px;
			font-size:11px;
			border-right: 1px solid #C7E4F4;
			border-bottom: 1px dotted #C7E4F4;
			margin:0;
			padding:0;
			}

#daytripper_day .over-agenda {
  /* border:4px solid orange;  */
}

/*  //////////////////////////////////////////
        CENTER CONSOLE
    //////////////////////////////////////////   */
    

#daytripper-center-console input[type="button"] {
float:left;
width: 100px;
height: 40px;
background-color:#C7E4F4;
border: 1px solid #2C8AD0;
margin: 0 20px 10px 20px;
height: 65px;
width:160px;
-moz-border-radius: 10px;
border-radius: 10px;
}

/*  //////////////////////////////////////////
        MAP CONSOLE
    //////////////////////////////////////////   */
#daytripper-map-console { width:360px;   }
#daytripper-map {
float:left;
border:4px solid #C7E4F4;
}
#daytripper-map-console input[type="button"] {
float:left;
width: 100px;
height: 40px;
background-color:#C7E4F4;
border: 1px solid #2C8AD0;
margin: 20px 20px 10px 100px;
height: 65px;
width:160px;
-moz-border-radius: 10px;
border-radius: 10px;
}

#directions_panel {
float:left;
width:100%;
height: 200px;
overflow:auto;
font-size: 11px;
}

#directions_panel .gmap-directions-label {
font-weight:bold;
}